*{
    margin: 0;
    padding: 0;
    font-family: verdana;

}

section{
    width: 1000px;
    margin: 30px auto;
    box-sizing: border-box;
}

.TITULO{
    text-align: center;
    color:#F25757 ;
    Font-size: 50px;
    font-family:fantasy;   
    margin: 20px 0px 0px 0px; }

.titulo_tabla{
    text-align:center;
    Font-size:40px;
    color:white;
    background-color:#730240;
    font-family:fantasy;
}


.subtitulo{
     font-family: fantasy;
     font-size: 40px;
     color:#34495E ;
}

h4{
    
    font-family: fantasy;
    font-size: 40px;
    color:#BF846F;
}

h5{
    font-family: fantasy;
    font-size: 40px;
    color:#025959;
}

h7{ font-family: fantasy;
    font-size: 40px;
    color:#668C4A;
}

h8{
    font-family: fantasy;
    font-size: 40px;
    color:#3EB595 ;
}

h9{ 
    font-family: fantasy;
    font-size: 40px;
    color:#34495E;
}

h10{
    font-family: fantasy;
    font-size: 40px;
    color:#8E44AD;
}

h11{
     font-family: fantasy;
    font-size: 40px;
    color:#616A6B ;
}

h12{
    font-family: fantasy;
    font-size: 40px;
    color:#D9863D;
}

h13{
    font-family: fantasy;
    font-size: 40px;
    color:#812F33;}

p1{
    text-align:justify;
    font-family: fantasy;
    font-size: 40px;
    color:#574F8C;
}


.logo{
    color: white;
    font-size: 25;
}

p2{
    font-size: 40px;
    font-family: fantasy;
    color: #021140;
}

p3{  
    font-size:40px;
    font-family: fantasy;
    color:#BF846F;
    
}

.nav{
    color:white;
}